.HomeContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem 2rem;
    max-height: 100vh;
    margin-left: 12%;
    margin-right: 8%;
}

@media (max-width: 700px) {
    .HomeContent {
        margin-left: 0%;
    }
}