.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #FFFFFF;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 25px;
}

.sidenav a {
  text-decoration: none;
}

.sidenav h1 {
  font-size: 1.6rem;
  margin-left: 2rem;
  margin-bottom: 3rem;
  margin-top: 1rem;
  color: black;
  font-weight: 500;
}

.sidenav .closebtn {
  position: absolute;
  right: -30px;
  font-size: 36px;
  margin-right: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}