header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100% - 3rem;
    height: 5rem;
    padding-left: 3rem;
    padding-right: 12rem;
    margin-bottom: 2rem;
    margin-left: 4%;
    background-color: white;
}

header h2 {
    font-size: 2rem;
    /* margin-left: 2.4rem; */
    color: var(--bg-color);
    font-weight: normal;
}

header b {
    font-weight: bold;
}

header .icons {
    display: flex;
    justify-content: center;
}

header .icons button {
    height: 27px;
    width: 25px;
    border-radius: 4px;
    border: 0px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
    cursor: pointer;
}

header .icons button:hover {
    border-color: #999;
}

header .upper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header .upper #impersonateButton {
    border-radius: 4px;
    border: 0px;
    background: var(--bg-color);
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
    transition: 0.2s;
    margin-left: 2rem;
    padding: .7rem;
}

header .upper #impersonateButton:hover {
    color: var(--bg-color);
    background: #fff;
    border: 1px solid var(--bg-color);
    cursor: pointer;
}

@media (max-width: 700px) {
    header {
        display: none;
    }
}