header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    height: 5rem;
    border-radius: 4px;
    padding-left: 3rem;
    padding-right: 12rem;
    margin-bottom: 2rem;
    background-color: white;
}

header h2 {
    font-size: 2rem;
    margin-left: 2.4rem;
    color: #7F43F5;
    font-weight: normal;
}

header b {
    font-weight: bold;
}

.icons {
    display: flex;
    justify-content: center;
}

.icons button {
    height: 27px;
    width: 25px;
    border-radius: 4px;
    border: 0px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.icons button:hover {
    border-color: #999;
}