.company {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
    max-height: 40rem;
    background-color: white;
    padding: 2%;
    border-radius: 8px;
}

.company h1 {
    color: #7F43F5;
    font-size: 1.9rem;
    font-weight: bold;
}

.company a {
    text-decoration: none;
}

@media (max-width: 1100px) {
    html {
        font-size: 40%;
    }
}

@media (max-width: 810px) {
    html {
        font-size: 30%;
    }
}

@media (max-width: 630px) {
    html {
        font-size: 25%;
    }
}

@media (max-width: 550px) {
    html {
        font-size: 20%;
    }
}

@media (max-width: 280px) {
    .company{
        display: none;
    }
}