.HomeContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6rem;
    max-height: 100vh;
    margin-left: 4%;
    margin-right: 4%;
}

.full {
    margin-left: 4%;
}

@media (max-width: 700px) {
    .full {
        margin-left: 0%;
    }
}