.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 4%;
  background-color: #7F43F5;
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar img {
  width: 80%;
  margin: 1rem;
}

.sidebar a {
  display: block;
  color: #f5f5f5;
  padding: 1rem;
  margin-top: 0.5rem;
  text-decoration: none;
}

.sidebar a.active {
  background-color: #ffffff;
  color: #7F43F5;
  border-radius: 8px;
}

.sidebar a:hover:not(.active) {
  background-color: #ffffff;
  opacity: 0.9;
  color: #7F43F5;
  border-radius: 8px;
}

@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
    flex-direction: row;
  }
  .sidebar a {
    float: left;
  }
  div.content {
    margin-left: 0;
  }
  .sidebar img {
    width: auto;
    height: 4vh;
    margin: 0.5rem 2rem;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
    margin: 0 1rem;
  }
}